.DS_Store
__pycache__
/Data
/File
/Clustermap/.ipynb_checkpoints
/Clustermap/Simple_cluster-06.07.ipynb
/Clustermap/Simple_cluster-07.02.ipynb
/Clustermap/Simple_cluster-07.04.ipynb
/Clustermap/Simple_cluster-07.05.ipynb
/Results